<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="navbar-fixed">
        <nav>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
        </nav>
      </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
