body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: rgb(56, 129, 126);
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: repeat(1, minmax(auto, 22rem));
  font-size: 20px;
  padding: 5px;
}