<%- include('../partials/header') %>
<form action="/debaters/:id" method="PUT">
    <div class="form-group">
      <label for="comment">Add Comment</label>
      <textarea name="comment" type="text" class="form-control" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" value="Add Comment">Submit</button>
  </form>
<%- include('../partials/footer') %>