<%- include('../partials/header') %>
  <div>
    <h3>Topic</h3>
    <input>
  </div>
  <div>
    <h3>Stances</h3>
    <input>
  </div>
  <div>
    <h3>Description</h3>
    <textarea></textarea>
  </div>
<%- include('../partials/footer') %>