<%- include('../partials/header') %>
<h1>Debate Site</h1>
<% debaters.forEach(function(debater) { %>
  <div class="card w-50">
    <div class="card-body">
      <% debater.addDebate.forEach(function(d) { %>
      <h5 class="card-title"><%= d.topic %></h5>
      <p class="card-text"><%= d.description %></p>
      <% }); %>
    </div>
  </div>
<% }); %>
<%- include('../partials/footer') %>
